.apresentation {
    padding-top: 62px;
    background-color: #FFFFFF;
}

.apresentation-img {
    text-align: center;
}

.apresentation img{
    width: 25%;
    margin: 0;
    padding: 0;
    /* background-image: url("../img/apresentation-img.png"); */
}