.apresentation {
    padding-top: 62px;
    background-color: #FFFFFF;
}

.apresentation-img {
    text-align: center;
}

.apresentation img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}