* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-color: #F9FAFE; */
    /* background-image: url("../img/bairro-residencial-moderno-com-telhado-verde-e-varanda-gerado-por-ia.jpg"); */
    background-repeat: no-repeat;
    width: 100%;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (width < 768px) {
    .container {
        padding-left: 1%;
        padding-right: 1%;
    }
}