select {
    padding: 10px;
}

.search {
    background-color: rgb(247, 246, 244, 74%);
    backdrop-filter: blur(10px);
    padding: 10px;
    position: relative;
    margin-top: 40%;
}

.search select {
    background-color: transparent;
    color: #211b15;;
    border: 1px solid gray;
}

.button-search {
    padding: 12px 24px;
    background-color: #211b15;
    color: white;
    border: 1px #211b15 solid;
    cursor: pointer;
}

.button-search:hover {
    background-color: #1919e6;
    color: white;
    transition: 0.3s;
}


.input-search {
    display: inline-block;
}

.select-wrapper {
    display: inline-block;
    position: relative;
}

.input-search label{
    display: block;
    margin-bottom: 5px;
}