select {
    padding: 10px;
}

.search {
    background-color: #23b496;
    padding: 10px;
    position: relative;
    margin-top: 40%;
}
.search select {
    background-color: transparent;
    color: white;
    border: 1px white;
}

.button-search {
    padding: 12px 24px;
    background-color: gray;
    color: white;
    border: 1px;
}